img{
    width: 30%;
}
h1{
    color: orange;
    text-decoration: underline;
    font-size: 45px;
}
.container{
    color: white;
    margin: 10px auto;
    width: 970px;
}
*{
    background-color: black;
}
.copy{
    text-align: right;
    font-family: 'Press Start 2P', cursive;
}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
}
.one{
    height: 30%;
    width: 50%;
}
.class2{
    text-align: center;
}
.font{
    font-family: 'Zen Tokyo Zoo', cursive;
    text-align: center;
}